# OS
.DS_Store
Thumbs.db

# IDEs / Editors
.idea/
.vscode/

# Git internals
.git/

# Databases / local state
*.db

# Test artefacts
testdata/

# Build artefacts 
dist/
bin/

# Env / secrets 
.env
.env.*

# Logs
*.log
